{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'story8.js' %}"></script>
    
    <title>Story8</title>
</head>

<body>
    <div class="container-fluid mt-2" >
        <h2 style="font-weight: bold; text-align: center">Welcome, Geeks!</h2>
        <div class="row justify-content-center mb-2">
            <div class="col">
                <div style="display: flex; flex-direction: row; justify-content: center;" class="mb-2">
                    <p class="m-0 mr-1 p-0 align-self-center">Search : </p>
                    <div style="position: relative; max-width: 450px;">
                        <input id="search" type="text" style="border: black solid 0.5px; width: 350px" class="px-1" oninput="ChangeSearch(this)">
                    </div>
                    <button type="button" onclick="changePage()" class="ml-2" style="border-radius: 10px; background-color: darkgrey; border: none;">Search</button>
                </div>
            </div>
        </div>
        <table class="table">
              <thead class="thead-light">
                <tr>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Title</th>
                    <th scope="col" width="850">Description</th>
                    <th scope="col">Authors</th>
                </tr>
            </thead>
            <tbody  id="books">
                <!--  Story8.js  -->
            </tbody>
        </table>
    </div>
</body>
</html>
