{% load static from staticfiles%}


<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" > 
    

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo_tk1.ico' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </head>
  <body>
    <!-- navbar -->
    <div class ="navbar-header">
    <nav class="navbar navbar-expand-sm navbar-inverse fixed-top" style="background-color: #fe5b46; font-family: 'Varela Round', sans-serif;">
      <a class="navbar-brand" href="/"><img src="{% static 'img/logo-tk1.png' %}" alt="logo" width="50px"></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle-navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" style="color: white;" href="/request">Request</a>
          <a class="nav-item nav-link" style="color: white" href="/contractor">Contractor</a>
          <a class="nav-item nav-link" style="color: white" href="/review">Review</a>
          <a class="nav-item nav-link" style="color: white" href="/">Contact Us</a>
        </div>
      </div>
    </nav>

    <!--content-->
    <div class="content-container">
      {% block content%} {% endblock %}
    </div>

      <!-- Footer -->
    <footer class="page-footer font-small pt-4">
      <div class="footer-copyright text-center py-3"><b>© Copyright PPW-KB12 2019</b></div>
    </footer>
  </body>
</html>