{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet"  href="{% static 'css/styles.css' %}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'scripts.js' %}"></script>
</head>

<body>
  
 <h1>Hi! I'm Steven</h1>

<div id="accordion">
  <h3>Activities</h3>
  <div>
    <p>Basically my daily activities are:</p>
    <ul>
      <li>Eat</li>
      <li>Code</li>
      <li>Sleep</li>
      <li>Repeat</li>
    </ul>
  </div>
  <h3>Organization</h3>
  <div>
    <p>Aku apatis :(</p>
  </div>
  <h3>Achievement</h3>
  <div>
    <p><b>C O M I N G  S O O N</b></p>
  </div>
</div>

<br><br><br>
<button type="button" id="btn">Change Theme</button>
 
</body>
</html>